.accom-container-large{
  // margin: 10px;
}

.accom-container{
  margin-top: 10px;
}

.accom-action{
  display: flex;
  justify-content: space-between;
}

.accom-card{
  background: white;
  padding: 10px;
  margin: 20px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
}

.accom-card:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.accom-card-link a:link{
  text-decoration: none;
  color: black;
  &.accom-edit{
    font-size: 20px;
    color: #1c4f6d;
    margin: 0 10px;
    &:hover{
      text-decoration: none;
      color: #626d71;
    }
  }
  &.accom-delete{
    font-size: 20px;
    color: #1c4f6d;
    margin: 0 10px;
    &:hover{
      text-decoration: none;
      color: #626d71;
    }
  }
}

.accom-card-content {
  display: flex;
  justify-content: space-between;
}

.accom-card-text{
  width:  550px;
  margin-left: 20px;
}

.accom-card-content p{
  color: black;
}

.accom-card-map{
  margin: 0px;
  justify-content: space-arround;
}

.map{
  margin: 0px;
}


.accom-header{
  display: flex;
  justify-content: space-between;
  color: black;
  & h3{
    color: #1c4f6d;
  }
  & .fas{
    color: #00e3e3;
  }
  & .far{
    color: #00e3e3;
  }
}

.accom-price{
  font-size: 20px;
  color: black;
  // display: flex;
  // justify-content: flex-end;
}

.accom-action-list{
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}


.vote-list li{
  display: inline;
}

.accom-vote-info{
  display: flex;
  justify-content: space-between;
}

#accommodation-winner {
  border-left: 7px solid #75e8e8;
}

.accom-bottom{
  display: flex;
  justify-content: space-between;
}
