
// Specific CSS for your home-page
.home-btn {
    background-color: #00e3e3;
    width: 280px;
    border-color: #00e3e3;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    padding: 16px;
    font-size: 22px;
    border: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 29px;
    text-decoration: none;
    color: white;
    transition: ease 0.2s all;
    text-transform: capitalize;
}



.home-btn a {
    color: white;
    text-decoration: none;
    background-color: #00e3e3;
}
.home-btn:hover{
  // text-decoration: none;
  // color: white;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.home-conatiner h1 {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  text-align: center;
  margin-top: 60px;
}

.testimonial-container{
  margin: 60px auto;
  width: 800px;
  text-align: center;
  & p{
    font-size: 20px;
    margin: 0;
    font-family: "Roboto", sans-serif;
    padding: 5px;
  }
  & .testimonial{
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
  }
}

.test-box {
  display: flex;
  align-content: center;
}

.avatar-medium {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.subtitle {
  font-family: "Roboto";
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 20px 0;
}



