
// Specific CSS for your home-page
.home-btn {
    background-color: #00e3e3;
    width: 280px;
    border-color: #00e3e3;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    padding: 15px 0;
    font-size: 21px;
    border: 17px;
    margin-left: 230px;
    margin-top: 40px;
}

.home-btn a {
    color: white;
    text-decoration: none;
    background-color: #00e3e3;
}
.home-link:hover{
  // text-decoration: none;
  // color: white;
  font-size: 28px;
}

.home-conatiner h1 {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  text-align: center;
  margin-top: 60px;
}



