// Import page-specific CSS files here.
@import "home";

body{
  background: white;
}

.trip-container{
  margin: 80px auto;
  width: 900px
}

.trip-card-container{
  display: flex;
}

.trip-card-link{
   color: black;
}

.trip-card-link a:link{
  text-decoration: none;
}

.trip-card{
  background: white;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 10px;
  margin-right: 20px;
  margin-top: 20px;
  width: 220px;
  height: 330px;
  align-items: center;
  transition: box-shadow .2s ease;
}

.trip-card:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.trip-photo{
  margin: 10px auto;
  margin-bottom: 20px;
  width: 160px;
  height: 170px;
  box-shadow: inset 0 0 6px #000000;
}

.trip-card-content{
  text-align: center;
}

.trip-card-content h4{
  color: #626d71;
  padding-bottom: 10px;
}

.trip-action-list p{
  color: black;
  display: inline;
  margin: 0 5px;
  font-size: 13px;
}

.board-container{
  margin: 80px auto;
  width: 900px
}

.board-container-small{
  width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.board-container-card a:link{
  text-decoration: none;
}

.board-card-TimeframeBoard{
  // background: #375e97;
  background: #337bae;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 300px;
  margin: auto;
  text-align: center;
  transition: box-shadow .2s ease;
  transition: background .3s ease;
}

.board-card-TimeframeBoard:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
  // background: #626d71;
  background: #98A6A9;
}

.board-card-AccommodationBoard{
  background: #fb6542;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 300px;
  margin: auto;
  text-align: center;
  transition: box-shadow .2s ease;
  transition: background .3s ease;
}

.board-card-AccommodationBoard:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
  background: #98A6A9;
}

.board-card-TransportationBoard{
  background: #ffbb00;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 300px;
  margin: auto;
  text-align: center;
  transition: box-shadow .2s ease;
  transition: background .3s ease;
}

.board-card-TransportationBoard:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
  background: #98A6A9;
}

.board-card-DestinationBoard{
  background: #4F8224;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border-radius: 10px;
  padding: 20px;
  color: white;
  width: 300px;
  margin: auto;
  text-align: center;
  transition: box-shadow .2s ease;
  transition: background .3s ease;
}

.board-card-DestinationBoard:hover{
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
  background: #98A6A9;
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 90px;
    transition: color .3s ease;
  }

  .board-card-DestinationBoard {
    &:hover {
      .icon::before {
        color: #4F8224 !important;
      }
    }
    .icon::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f57d";
      transition: color .3s ease;
    }
  }

  .board-card-TimeframeBoard {
    &:hover {
      .icon::before {
        color: #337bae !important;
      }
    }
    .icon::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f073";
      transition: color .3s ease;
    }
  }

  .board-card-TransportationBoard {
    &:hover {
      .icon::before {
        color: #ffbb00 !important;
      }
    }
    .icon::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f072";
      transition: color .3s ease;
    }
  }

   .board-card-AccommodationBoard {
    &:hover {
      .icon::before {
        color: #fb6542 !important;
      }
    }
    .icon::before {
      font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f015";
      transition: color .3s ease;
    }
  }

#plus{
  color: #626d71;
  padding-top: 60px;
  font-size: 50px;
}
