.timeframes-container{
  margin-top: 20px;
  margin-left: 20px;
}

* {box-sizing: border-box;}
.wrapper {
  max-width: 1050px;
  margin: 0 auto;
}


.wrapper > div {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 1px;
  color: black;
}
.grid-month- {
  &9 {
    border-bottom: solid 10px;
    margin-bottom: 10px;
    border-color: grey
  }
  &10 {
    border-bottom: solid 10px;
    margin-bottom: 10px;
    border-color: blue
  }
   &11 {
    border-bottom: solid 10px;
    margin-bottom: 10px;
    border-color: green
  }
   &12 {
    border-bottom: solid 10px;
    margin-bottom: 10px;
    border-color: orange
  }
}

.wrapper {
  display: grid;
  // grid-template-columns: repeat(15, 1fr);
  // grid-gap: 10px;
  grid-auto-rows: minmax(50px, 50px);
  overflow-x: scroll;
}

.one {
  // grid-column: 1 / 10;
  // grid-row: 1;
  background-color: lightgrey;
}

.two {
  // grid-column: 1 / 10;
  // grid-row: 1;
  background-color: lightblue;
}

.grid-day {
  background: beige;

}
// .two {
//   grid-column: 2 / 8;
//   grid-row: 2;
//   background-color: blue;
// }
// .three {
//   grid-column: 1 / 7;
//   grid-row: 3 / 3;
//   background-color: green;
// }
// .four {
//   grid-column: 2 / 9;
//   grid-row: 4 / 4;
//   background-color: yellow;
// }
// .five {
//   grid-column: 2 / 9;
//   grid-row: 5 / 5;
//   background-color: pink;
// }
// .six {
//   grid-column: 3 / 6;
//   grid-row: 6 / 6;
//   background-color: lightblue;
// }
// .seven {
//   grid-column: 3 / 7;
//   grid-row: 7 / 7;
//   background-color: orange;
// }

