<div id="landing-page" class="banner" class="navbar-landing">
  <p>Organize your next <br> group trip!</p>
  <div>
  <div class="btn"><%= link_to "Create your first trip" %></div>
  </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>


<div class="home-container">
  <div class="row justify-content-center">
    <h1> How it works </h1>
  </div>
<br>

<!-- <div class="container-form"> -->
  <div class="white-boxes">
    <div class="white-box-container">
        <p><i class="fas fa-envelope-open-text fa-4x"></i></p>
        <p>Invite your friends</p>
    </div>

    <div class="white-box-container">
      <div class="d-flex justify-content-around">
        <p><i class="far fa-calendar-alt fa-2x"></i></p>
        <p><i class="fas fa-globe-americas fa-2x"></i></p>
      </div>
      <div class="d-flex justify-content-around">
        <p><i class="fas fa-plane fa-2x"></i></p>
        <p><i class="fas fa-home fa-2x"></i></p>
      </div>
      <p>Decide Collaboratively</p>
    </div>


     <div class="white-box-container">
        <p><i class="fas fa-tasks fa-4x"></i></p>
        <p>Stay Organized</p>
      </div>

      <div class="white-box-container">
        <p><i class="far fa-smile fa-4x"></i></p>
        <p>Enjoy the trip</p>
      </div>
    </div>
  <!-- </div> -->


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

