<p><%= link_to "Back", trips_path %></p>
<% @boards.each do |board| %>
  <%if board.type == "TimeframeBoard"
      link = timeframe_board_timeframes_path(board)
    elsif board.type == "AccommodationBoard"
      link = accommodation_board_accommodations_path(board)
    elsif board.type == "TransportationBoard"
      link = transportation_board_transportations_path(board)
    elsif board.type == "DestinationBoard"
      link = destination_board_destinations_path(board)
    end%>
  <p><%=link_to "#{board.title}", link%></p>
  <p><%=board.description%></p>
  <p>Status: <%=board.status%></p>
<% end %>

