.banner {
  background-image: url('https://image.freepik.com/fotos-kostenlos/gruppe-von-freunden-tanzen-am-strand_23-2147642605.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
  font-family: "Comfortaa", cursive;
  font-size: 51px;
  color: #463939;
  .navbar {
    font-size: 23px;
  }
  p {
  font-family: "Comfortaa", cursive;
  font-size: 51px;
  color: #64c4ed;
  text-align: center;
  margin-right: 697px;
  margin-top: 108px;
  opacity: 1;
  }
}

.banner-parent {
  margin-top: -70px;
}

