.banner {
  background-image: url('https://images.unsplash.com/photo-1521098150-2d00c717027b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1379&q=80');
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
  font-family: "Comfortaa", cursive;
  font-size: 51px;
  color: #2f332e;
  .navbar {
    font-size: 23px;
  }
  p {
  font-family: "Comfortaa", cursive;
  font-size: 51px;
  color: #f0fd5b;
  text-align: center;
  margin-right: 697px;
  margin-top: 108px;
  }
}

.banner-parent {
  margin-top: -70px;
}

