.banner {
  background-image: url('https://images.unsplash.com/photo-1548957175-84f0f9af659e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=761&q=80');
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 10vh;
  font-family: "Comfortaa", curve;
  font-size: 51px;
  color: #2f332e;
  .navbar {
    font-size: 23px;
  }
}

.banner-parent {
  margin-top: -70px;
}

