$trip_color: #626d71;
$accom_color: #00bdaa;
$dest_color: #30e3ca;
$trans_color: #6bc5d2;
$time_color: #5ca0d3;


// .button-secondary {
//   border: solid 1px grey;
//   color: grey;
//   padding: 3px 10px;
//   &:hover {
//     color: white;
//     background-color: grey;
//   }
// }

.trip-btn{
  color: white;
  background: $trip_color;
  padding: 5px 8px;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  transition: box-shadow .2s ease;
  font-size: 17px;
  margin: 10px 0;
}

.trip-btn:hover{
  color: white;
  text-decoration: none;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.accom-btn{
  color: $accom_color !important;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border: solid 2px $accom_color;
  padding: 2px 5px;
  margin: 2px 5px;
  transition: box-shadow .2s ease;
  height: 30px;
  font-size: 15px;
}

.accom-btn:hover{
  background: $accom_color;
  text-decoration: none;
  color: white !important;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.dest-btn{
  color: $dest_color;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border: solid 2px $dest_color;
  padding: 2px 5px;
  margin: 2px 5px;
  transition: box-shadow .2s ease;
  height: 30px;
  font-size: 15px;
}

.dest-btn:hover{
  background: $dest_color;
  color: white;
  text-decoration: none;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.trans-btn{
  color: $trans_color;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border: solid 2px $trans_color;
  padding: 2px 5px;
  margin: 2px 5px;
  transition: box-shadow .2s ease;
  height: 30px;
  font-size: 15px;
}

.trans-btn:hover{
  background: $trans_color !important;
  color: white;
  text-decoration: none;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}

.time-btn{
  color: $time_color;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  border: solid 2px $time_color;
  padding: 2px 5px;
  margin: 2px 5px;
  transition: box-shadow .2s ease;
  height: 30px;
  font-size: 15px;
}

.time-btn:hover{
  background: $time_color;
  color: white;
  text-decoration: none;
  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);  box-shadow: 0 9px 9px 0 rgba(0,0,0,0.14), 0 8px 12px 0 rgba(0,0,0,0.12), 0 10px 8px -9px rgba(0,0,0,0.2);
}


