.comment-container{
  padding: 5px;
  height: 100vh;
  border-left: solid 1px #d4d7dd;
  box-shadow: 1px 1px 10px #d3d3d37a;
}

.comment-list{
  overflow: auto;
  height: 500px;
  padding: 12px 15px;
}

.message-right{
  display: flex;
  justify-content: flex-end;
}

.message-left{
  display: flex;
  justify-content: flex-start;
}

.current_user-message-container{
  margin-top: 10px;
  align-items: right;
}

.other_user-message-container{
  margin-top: 10px;

}

.sender{
  color: grey;
  margin: 0;
  padding: 0;
  font-size: 12px;
}

.current_user-message{
  color: white;
  background: #5bbeaa;
  border-radius: 27px 27px 0 27px;
  padding: 12px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.14);
  width: 155px;
}

.other_user-message{
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.14);
  padding: 11px 21px;
  border-radius: 27px 27px 27px 0;
  width: 155px;
}

.comment-form{
  position: fixed;
  bottom: 9px;
  width: 320px;
  padding: 13px;
}

.send-btn{
  color: white;
  background: #8bbabb;
  border-radius: 2px;
}

