.destination-container-large{
}

.destination-container {
  margin-top: 10px;
}

.destination-card {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: white;
  padding: 10px;
  width: 760px;
  margin: 20px auto;
  border-radius: 2px;
  border-color: #104a05;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  b {
    font-size: 21px;
    opacity: .5;
    font-weight: lighter;
  }
  h2 {
    font-size: 30px;
    opacity: .65;
    font-weight: lighter;
    text-align: center;
    font-family: Roboto;
  }
  p {
    line-height: 1.4;
  }
}
.destination-buttons{
    display: flex;
    justify-content: space-bewteen;
    // flex-direction: column;
    // position: absolute;
    // top: 5px;
    // right: 5px;
    // margin: 10px;
}

  p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 34px;
  text-align: left;
  opacity: .65;
  }

  h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 35px;
  line-height: 27px;
  text-align: left;
  }

  .destination-card li {
    display: inline;
  }

.form-inline {
  justify-content: space-bewteen;
}

.dest-bottom{
  display: flex;
  justify-content: space-between;
  width: 560px;
}


.dest-vote-info{
  display: flex;
  justify-content: space-between;
}

.dest-top{
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
}

.dest-title{
  display: flex;
  align-items: center;
  & h1{
    margin-right: 10px;
    color: #144F6D;
  }
  & p{
    text-transform: capitalize;
    opacity: 0.3;
  }
}

.dest-top{
  & .fas{
    color: #00e3e3;
  }
  & .far{
    color: #00e3e3;
  }
}

#destination-winner {
  border-left: 7px solid #75e8e8;
}

.dest-edit{
  font-size: 20px;
  color: #1c4f6d;
  margin: 0 10px;
  &:hover{
    text-decoration: none;
    color: #626d71;
  }
}

.dest-delete{
  font-size: 20px;
  color: #1c4f6d;
  margin: 0 10px;
  &:hover{
    text-decoration: none;
    color: #626d71;
  }
}
