.navbar-lewagon {
  justify-content: space-between;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
}

.navbar{
  height: 55px;
}

#home {
  .navbar-lewagon {
    justify-content: space-between;
    background-color: transparent !important;
    box-shadow: none;
  }

  #landing-drop {
    // font-family: "Cabin", sans-serif;
    // background-color: transparent;
    // display: block;
    // width: 100%;
    // padding: 0.25rem 1.5rem;
    // clear: both;
    // font-weight: 400;
    // color: white;
    // text-align: inherit;
    // white-space: nowrap;
    // border: 0;
    font-family: "Cabin", sans-serif;
    background-color: #00e3e3;
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 18px;
    border: 2px solid #00e3e3;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
    &:hover{
      color: #00e3e3;
      background-color: white;
    }
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 137px;
}

.navbar-lewagon-white {
  background-color: white !important;
}

.navbar-landing {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
  box-shadow: 0 0 0 0;
}


.dropdown-item{
  font-family: "Cabin", sans-serif;
  background-color: white;
  border-radius: 3px;
  padding: 3px 10px;
  font-size: 18px;
  border: 2px solid #1c4f6d;
  text-decoration: none;
  color: #1c4f6d;
  transition: all 0.2s ease;
  &:hover{
    color: #4EBAC4;
    background-color: white;
  }
}

.nvb-h-btn{
  margin-right: 20px;
}

.nav-item{
  background-color: transparent;
}
