.transportation-container-large{
  margin-top: 20px;
  margin-left: 20px;
}

.transport-container {
  background: white;
  padding: 18px;
  border-radius: 7px;
  border-color: #104a05;
  // width: 37%;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 3px 7px 0 rgba(0,0,0,0.12), 0 5px 3px -5px rgba(0,0,0,0.2);
  margin: 14px 0px;
  // margin-left: 52px;

  p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  }
  h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  }
  li {
    display: inline;
  }
}

.form-inline {
  justify-content: space-bewteen;
}


