<h1> Create a new destination: </h1>

<%= simple_form_for(@destination) do |d| %>
  <div class="form-group">
    <%= d.label :name %>
    <%= d.text_field :description, class: 'form-control' %>
  </div>
  <% end %>
